.button {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;

  border: none;
  border-radius: 5px;

  padding: 10px;
  
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  transition: all .5s linear;
}


.primary {
  color: var(--white);
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);

}

.ghost {
  color: var(--black);
  border: 1px solid var(--gray-light);
}

.ghost:hover {
  color: var(--white);
  background-color: var(--primary);
}

.arrow {
  display: inline-block;
  margin-left: 10px;
}

.primary .arrow svg,
.ghost:hover .arrow svg {
  fill: var(--white);
}

.arrowright { }


.arrowdown {
  transform: rotate(90deg);
  transition: all .5s ease;
}