
:root {
  --black: #3B434E;
  --white: #fff;
  --primary: #7653FC;
  --primary-hover: #5632e8;
  --red: #FC836D;
  --green: #1DC37E;
  --light-green: #C8F8E4;
  --light-gray:#EBEBEB;
  --font-family: 'Noto Sans', sans-serif;
}

body {
  color: var(--black);
  font-family: var(--font-family);
  background-color: #E5E5E5;
}
